<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cronos/
  # My app is cronos - like localhost/cronos/index.php/controller/function
  # but, I need to redir - like localhost/cronos/controller/function
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>